version: "3.9"

services:
  caddy:
    build:
      context: .
      dockerfile: caddy/Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - caddy_data:/data
      - caddy_config:/config
    environment:
      ACME_AGREE: "true"
    depends_on:
      - backend
      - frontend
    networks:
      - cinedock-network
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cinedock"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - cinedock-network


  backend:
    build:
      context: ./backend
    restart: unless-stopped
    env_file:
      - .env
    environment:
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DATABASE_URL: ${DATABASE_URL}
      DJANGO_COLLECTSTATIC: ${DJANGO_COLLECTSTATIC}
      REDIS_URL: ${REDIS_URL}
    volumes:
      - ./backend:/app
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - cinedock-network

  frontend:
    build:
      context: ./frontend
    restart: unless-stopped
    networks:
      - cinedock-network

  redis:
    image: redis:7-alpine
    restart: unless-stopped
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data
    networks:
      - cinedock-network

volumes:
  pgdata:
  caddy_data:
  caddy_config:
  redis_data:

networks:
  cinedock-network:
    driver: bridge



